footer{
    grid-area:footer;
    padding: 10px;
    font-size:20px;
    text-align:center;
    color:white;
    background-color: slateblue;
    min-width: 1000px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}