form {
    border: 1px solid navy;
    border-radius: 5px;
    padding: 40px;
    background-color:white;
    max-width: 1000px;
    
    h2{
        text-align: center;
        font-size: 20px;
    }

    #radio-buttons{
        min-width: 600px;
        align-content: center;

        #text{
            max-width: 20px;
        }
        #url{
            max-width: 20px;
        }
    }
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

#results-section {
    display:none;
    text-align: center;
    padding: 24px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    border: 1px solid navy;

    h2{
        font-size: 20px;
        font-weight: bold;
    }

    #results {
        padding: 5px;
        border-radius: 5px;
        border: 1px dotted palevioletred;
        height: auto;
        width:100%;

        h3{
            padding:5px;
            font-weight:bold;
        }
    }
}

